body{
  margin: 0;
  overflow-x: hidden;
}

header{
  position: relative;
  overflow: hidden;
  /* background-image: url('img/Background.jpg'); */
  min-height: 100vh;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.doubleOverlay{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  background-color: gray;
  opacity: 1;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-name: doubleOverlay;
}
@keyframes doubleOverlay{
  0%{

  }
  100%{
    opacity: 0;
  }
}

.CarouselDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.picOne{
    position: absolute;
    background-image: url('img/Background.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    /* left: 0%; */
    width: 100%;
    height: 100%;
    left: 0%;
    /* transition: 1s; */
}
.picTwo{
    position: absolute;
    background-image: url('img/BackgroundTwo.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    left: 0%;
    width: 100%;
    height: 100%;
    left: 0%;
    /* transition: 1s; */
}
.picThree{
    /* transition: 1s; */
    position: absolute;
    background-image: url('img/BackgroundThree.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    /* left: 0%; */
    width: 100%;
    left: 0%;
    height: 100%;
}
.flashDiv{
  background-color: white;
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
  animation-delay: -2.5s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: flashDiv;
}
@keyframes flashDiv {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  45%{
    opacity: 1;
  }
  /* 70%{
    opacity: 0;
  } */
  100%{
    opacity: 0;
  }
}

.logoAndTextBox{
  margin-top: 2.5vh;
  width: 11.48vw;
  /* height: 5.25vw; */
  margin-left: 6.074vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoPng{
  background-image: url('img/png/Logo.png');
  width: 2.59vw;
  height: 2.59vw;
  background-size: 100% 100%;
}

.logoText p{
  font-size:2.15vw;
  margin: 0;
  margin-top: 0.4vw;
}
span{
  color:red;
}

.firstRedBox{
  padding-top: 1px;
  overflow:  visible;
  margin-left: 6.074vw;
  background-color: rgb(223,60,79,0.35);
  /* width: 25.62vw;
  height: 32.07vw; */
  width: 0vw;
  height: 0vw;
  opacity: 0;
  transform: matrix3d(-0.97,-0.26,0.00,0.001,0.26,0.97,0.00,0.001,0,0,-1,0,0,0,0,1);
  animation-name: firstRedBox;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes firstRedBox{
  0%{
    opacity: 0;
    width: 0vw;
    height: 0vw;
  }
  50%{
    opacity: 0.3;
  }
  100%{
    transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,0,1);
    opacity: 1;
    width: 25.62vw;
    height: 32.07vw;
  }
}

.secundRedBox{
  background-color: rgb(225,31,76,0.5);
  width: 18.51vw;
  height: 23.77vw;
  margin-left: 3.555vw;
  margin-top: 4.222vw;
  padding-top: 0.1px;
  transform: matrix3d(-0.97,-0.26,0.00,0.001,0.26,0.97,0.00,0.001,0,0,-1,0,0,0,0,1);
  animation-name: secundRedBox;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes secundRedBox{
  0%{

  }
  100%{
    transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,0,1);
  }
}

.photoGrapherBox{
  position: absolute;
  top: 13.629vw;
  left:12.814vw;
}

.photoGrapherBox{
  margin-top: 2.44vw;
  margin-left: 3.259vw;
}

.photoGrapherBox p:nth-child(1){
  font-size:1.77vw;
  margin: 0;
}

.photoGrapherBox p:nth-child(2),p:nth-child(3){
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  color:white;
  margin: 0;
  font-size:4.8vw;
}

.rightSlider{
  z-index: 4;
  position: fixed;
  /* background-color: rgb(225,31,76,0.9); */
  background-color: rgb(0,0,0,0.2);
  right: 0px;
  top:0px;
  height: 100vh;
  width: 4.296vw;
  transition: 2s;
}

.burgerMenu{
  position: absolute;
  width: 2.296vw;
  margin-top: 20.666vw;
  left: 1.18vw;
  height: 2vw;
}
.burgerMenu:hover{
  cursor: pointer;
}

.burgerMenu div{
  position: absolute;
  width: 100%;
  background-color: white;
  height: 3px;
  margin-bottom: 0.37vw;
  transition: 2s;
}
.burgerMenu div:nth-child(1){
  margin-top: 0;
}
.burgerMenu div:nth-child(2){
  margin-top:calc(3px + 0.37vw);
}
.burgerMenu div:nth-child(3){
  margin-top:calc(6px + 0.74vw);
}
/*MAIN SECTION*/
main{
  padding-top: 0.1px;
  position: relative;
}

.upsideDownText{
  z-index: 1;
  top: 22vw;
  font-size: 0.95vw;
  position: fixed;
}

.upsideDownText p{
  color:rgb(199,194,192);
  writing-mode:tb-rl;
  margin-left: 2.962vw;
}

.girlSunPhoto{
  background-image: url('img/girlSun.jpg');
  background-size: auto 100%;
  padding-top: 0.1px;
  margin-top: 12.74vw;
  margin-left: 36.666vw;
  background-repeat: no-repeat;
  /* width: 58.07vw; */
  /* width: 63.259vw; */
  height: 74.074vw;
  width: 0vw;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.girlSunPhotoAnim{
  animation-name: girlSunPhoto;
}
@keyframes girlSunPhoto{
  0%{
  }
  100%{
    height: 74.074vw;
    width: 62.359vw;
  }
}

.aboutMeBox{
  overflow:   hidden;
  position: relative;
  /* width: 46.666vw; */
  width: 0;
  height: 20.74vw;
  margin-top: 13.03vw;
  margin-left: -25.33vw;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.aboutMeBoxAnim{
  animation-name: aboutMeBox;
}
@keyframes aboutMeBox {
  0%{

  }
  100%{
    width: 46.666vw;
  }
}

.aboutMeBox p{
  margin: 0;
  text-align: center;
  color:rgb(233,51,71);
  width: 100%;
  height: 10.37vw;
  font-size: 7.4vw;
}

.aboutMeBox p:nth-child(1){
  background-color: rgb(0,0,0,0.83);
}

.loremIpsum{
  position: absolute;
  top: 52.22vw;
  background-color:rgba(232,232,232);
  width: 48.88vw;
  height: 59.11vw;
}

.loremIpsumTextBox{
  overflow: hidden;
  width: 25.259vw;
  height: 31.11vw;
  margin-top: 8.148vw;
  margin-left: 9.629vw;
  text-align: justify;
}
.loremIpsumTextBox p{
  color:rgb(134,134,134);
  font-size: 1.037vw;
}
